.watch{
    width: 100vw;
    height: 100vh;

    .back{
        display: flex;
        align-items: center;
        left: 10px;
        top: 10px;
        position: absolute;
        color: white;
        z-index: 99;
        span{margin-left: 10px;}
    }
    video{
        height: 99%;
        width: 100%;
        
    }
}